<header style="position: relative;">
    <div class="navbar-wrapper">
        <div class="container navbar-fixed-top">
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Home/Index">GetSkills</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Test Automation", "TestAutomation", "Product")</li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://getskills.co.nz/99tests/">ISTQB Foundation <br /> Certification Course</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://www.amazon.com/Precise-Software-Testing-Foundation-Course/dp/1508659753/ref=sr_1_1?ie=UTF8&qid=1448701557&sr=8-1&keywords=precise+software+testing+foundation+course">Book on Amazon</a></li>
                                </ul>
                            </li>
                            <li><a href="http://www.getskillsblogs.com">Blog</a></li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

